# Print

**Table of contents**<a id='toc0_'></a>    
- 1. [Describing a utility function](#toc1_)    
  - 1.1. [Print to screen](#toc1_1_)    
  - 1.2. [Printing outputs to a file](#toc1_2_)    
- 2. [Advanced: LaTeX tables](#toc2_)    

<!-- vscode-jupyter-toc-config
	numbering=true
	anchor=true
	flat=false
	minLevel=2
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

**More links**

**print**: [examples](https://www.python-course.eu/python3_formatted_output.php) (very detailed)


F-sting link

## 1. <a id='toc1_'></a>[Describing a utility function](#toc0_)


Consider a Cobb-Douglas utility function

$$
u(x_1,x_2) = x_1^{\alpha}x_2^{1-\alpha}
$$

Let's define it as a python function:

In [10]:
def u_func(x1,x2,alpha=0.50):
    return x1**alpha * x2**(1-alpha)

`x1` and `x2` are positional arguments.  
`alpha` is a keyword argument with default value 0.50

### 1.1. <a id='toc1_1_'></a>[Print to screen](#toc0_)

Print a **single evaluation** of the utility function.  

`f'some text'` is called a "formatted string"  
`{x1:.3f}` prints variable x1 as floating point number with 3 decimals

In [11]:
x1 = 1
x2 = 3
u = u_func(x1,x2)

print(f'x1 = {x1:.3f}, x2 = {x2:.3f} -> u = {u:.3f}')

x1 = 1.000, x2 = 3.000 -> u = 1.732

Print **multiple evaluations** of the utility function.

In [12]:
x1_list = [2,4,6,8]
x2 = 3

for x1 in x1_list: # loop through each element in x1_list
    u = u_func(x1,x2,alpha=0.25)
    print(f'x1 = {x1:.3f}, x2 = {x2:.3f} -> u = {u:.3f}')

x1 = 2.000, x2 = 3.000 -> u = 2.711
x1 = 4.000, x2 = 3.000 -> u = 3.224
x1 = 6.000, x2 = 3.000 -> u = 3.568
x1 = 8.000, x2 = 3.000 -> u = 3.834

We can do this in a nicer way:

In [13]:
for i,x1 in enumerate(x1_list): # i is a counter
    u = u_func(x1,x2,alpha=0.25)
    print(f'{i:1d}: x1 = {x1:<3d} x2 = {x2:<2d} -> u = {u:<6.3f}')
    
# {i:2d}: integer a width of 2 (right-aligned)
# {x1:<3d}: integer a width of 2 (<, left-aligned)
# {u:<6.3f}: float width of 6 and 3 decimals (<, left-aligned)

0: x1 = 2   x2 = 3  -> u = 2.711
1: x1 = 4   x2 = 3  -> u = 3.224
2: x1 = 6   x2 = 3  -> u = 3.568
3: x1 = 8   x2 = 3  -> u = 3.834

Checkout [this guide](https://www.python-course.eu/python3_formatted_output.php) and [this guide](https://realpython.com/python-formatted-output/) for more info on output formatting.

**Task**: Write a loop printing the results shown in the answer below.

In [14]:
# write your code here

**Output:**

0: u(2.00,3.00) = 2.7108
1: u(4.00,3.00) = 3.2237
2: u(6.00,3.00) = 3.5676
3: u(8.00,3.00) = 3.8337

### 1.2. <a id='toc1_2_'></a>[Printing outputs to a file](#toc0_)

Imagine you wanted to store outputs from your model in order to put it into a paper. Then you want it in a file..

1. Create a text-file using the `with` operator. 
2. Write to the file in a loop using the reference variable `file_ref`:

In [15]:
with open('somefile.txt', 'w') as file_ref: # 'w' is for 'write'
    
    for i, x1 in enumerate(x1_list):
        # Calculate utility at loop iteration
        u = u_func(x1,x2,alpha=0.25)
        
        # Create a formatted line of text
        text_line=f'{i+10:2d}: x1 = {x1:<6.3f} x2 = {x2:<6.3f} -> u = {u:<6.3f}'
        
        # Write the line of tex to the file using the 
        file_ref.write(text_line + '\n') # \n gives a lineshift

# note: the with clause ensures that the file is properly closed afterwards

You can also **read** from a file in the same manner, just using `r` instead of `w`.  
Open a text-file and read the lines in it and then print them:

In [16]:
with open('somefile.txt', 'r') as file_ref: # 'r' is for 'read'
    
    # Loading ALL file content into the object lines
    lines = file_ref.readlines()
    
    # Printing each loaded line by loop
    for line in lines:
        print(line,end='') # end='' removes the extra lineshift print creates

10: x1 = 2.000  x2 = 3.000  -> u = 2.711
11: x1 = 4.000  x2 = 3.000  -> u = 3.224
12: x1 = 6.000  x2 = 3.000  -> u = 3.568
13: x1 = 8.000  x2 = 3.000  -> u = 3.834

> **Note:** You could also write tables in LaTeX format and the import them in your LaTeX document.

**Question:** was the loop inside the `with` operator strictly necessary?

## 2. <a id='toc2_'></a>[Advanced: LaTeX tables](#toc0_)

Feel free to skip this part of the notebook if you don't use LaTeX or just would rather come back to this section when you actaully need to make a table.

Add some point when doing computational economics you will likely want to output you results to tables that you can put in a paper. One way to do that is to make latex tables. <br>
If you're completely fluent in latex code you can just make loops and functions that write the latex tables you desire. For mortals there is an easier way by using the Pandas library, which you might have seen in DataCamp and will learn more about in later notebooks. <br>
Let's try to recreate the output printed above as an latex table. First step is to make a Pandas DataFrame which can the be saved as a latex table.

In [17]:
import pandas as pd

In [18]:
# Remember we have a list of x1
print(x1_list)

# We also want a list of x2:
x2_list = [3 for x1 in x1_list]
print(x2_list)

# And a list of u(x1,x2):
u_list = [u_func(x1,x2,alpha=0.25) for x1,x2 in zip(x1_list,x2_list)]
print(u_list)

[2, 4, 6, 8]
[3, 3, 3, 3]
[2.7108060108295344, 3.2237097954706257, 3.567621345008163, 3.8336586254776344]

In [19]:
# Now we make the output into a DataFrame
df = pd.DataFrame().from_dict({'x1':x1_list,'x2':x2_list,'u':u_list})

df

   x1  x2         u
0   2   3  2.710806
1   4   3  3.223710
2   6   3  3.567621
3   8   3  3.833659

Then we can print the dataframe into a latex table

In [20]:
print(df.style.to_latex())

\begin{tabular}{lrrr}
 & x1 & x2 & u \\
0 & 2 & 3 & 2.710806 \\
1 & 4 & 3 & 3.223710 \\
2 & 6 & 3 & 3.567621 \\
3 & 8 & 3 & 3.833659 \\
\end{tabular}

We can hide the index counter:

In [21]:
print(df.style.hide(axis="index").to_latex())

\begin{tabular}{rrr}
x1 & x2 & u \\
2 & 3 & 2.710806 \\
4 & 3 & 3.223710 \\
6 & 3 & 3.567621 \\
8 & 3 & 3.833659 \\
\end{tabular}

The number of digits for u is way to many:

In [22]:
df['u'] = df['u'].apply(lambda x: f'{x:2.3f} utils')
df

   x1  x2            u
0   2   3  2.711 utils
1   4   3  3.224 utils
2   6   3  3.568 utils
3   8   3  3.834 utils

We can also write latex math directly in the dataframe:

In [23]:
df.rename(columns= {'x1':r'$x_{1}$', 'x2':r'$x_{2}$' , 'u':r'$u\left(x_{1},x_{2}\right)$'},inplace=True)
df

   $x_{1}$  $x_{2}$ $u\left(x_{1},x_{2}\right)$
0        2        3                 2.711 utils
1        4        3                 3.224 utils
2        6        3                 3.568 utils
3        8        3                 3.834 utils

And we can add a first column with some more information

In [24]:
df.index = ['a','b','c','d']
df

   $x_{1}$  $x_{2}$ $u\left(x_{1},x_{2}\right)$
a        2        3                 2.711 utils
b        4        3                 3.224 utils
c        6        3                 3.568 utils
d        8        3                 3.834 utils

Now let's see what we have:

In [25]:
print(df.style.to_latex())

\begin{tabular}{lrrl}
 & $x_{1}$ & $x_{2}$ & $u\left(x_{1},x_{2}\right)$ \\
a & 2 & 3 & 2.711 utils \\
b & 4 & 3 & 3.224 utils \\
c & 6 & 3 & 3.568 utils \\
d & 8 & 3 & 3.834 utils \\
\end{tabular}

We can play around with column formatting. <br>
I also normally use the hrules=True option which adds \toprule, \midrule and \bottomrule from the {booktabs} LaTeX package to make horizontal lines.

In [26]:
print(df.style.to_latex(column_format='l|ccc',hrules=True))

\begin{tabular}{l|ccc}
\toprule
 & $x_{1}$ & $x_{2}$ & $u\left(x_{1},x_{2}\right)$ \\
\midrule
a & 2 & 3 & 2.711 utils \\
b & 4 & 3 & 3.224 utils \\
c & 6 & 3 & 3.568 utils \\
d & 8 & 3 & 3.834 utils \\
\bottomrule
\end{tabular}

We can store this directly as .tex file, by adding a filepath in the buf argument

In [27]:
df.style.to_latex(buf='table1.tex',column_format='l|ccc',hrules=True)

Making your tables in this way is extremely versatile once you get the hang of it, you can find more options [here](https://pandas.pydata.org/docs/reference/api/pandas.io.formats.style.Styler.to_latex.html). <br>
Using the multicolumn features, which you'll learn about in the Daa section of the course, can also make for some good looking tables. <br>
*However*, it can also be cumbersome and require lots of tinkering to get the output you want, so be patient. My best advice is trial and error.